<section class="my-5">
  <div class="container">
    <div class="row justify-content-md-between justify-content-center align-items-center">
      <div class="col-md-6 col-11">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eveniet voluptatibus ducimus sit aspernatur
          consectetur! Nemo modi, beatae laborum reiciendis error, quidem eveniet ullam cumque iusto eum saepe quam
          quasi, ipsam necessitatibus iste magnam officia nihil aspernatur pariatur amet esse repellendus at sapiente
          dolor. Provident deleniti consequatur quam id hic.</p>
      </div>
      <div class="col-md-6 col-11">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem deleniti consequuntur iure temporibus ab
          tempora modi rem nemo expedita illo recusandae, molestias consectetur, saepe dolorum vel laudantium ea iste
          accusantium mollitia illum? Neque, asperiores ea, animi cumque labore sit tempore quae eius eaque nihil illo
          et ut libero obcaecati eligendi.</p>
      </div>
    </div>
  </div>
</section>